.o2slider {
	overflow: auto;
	overflow-x: hidden;
}

.o2slider-items-wrapper {
	position: relative;
	left: 0;
	transition-property: left;
	transition-timing-function: ease;
}

.o2slider__item {
	width: 100%;
	float: left;
}
